@import '~@angular/material/theming';
@include mat-core();

$mat-rob-primary: (
    50 : #f9f9f9,
    100 : #f1f0f1,
    200 : #e8e6e8,
    300 : #dedbde,
    400 : #d7d4d7,
    500 : #d0ccd0,
    600 : #cbc7cb,
    700 : #c4c0c4,
    800 : #beb9be,
    900 : #b3adb3,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffe7ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-rob-accent: (
    50 : #fff4e0,
    100 : #ffe4b3,
    200 : #ffd280,
    300 : #ffc04d,
    400 : #ffb326,
    500 : #ffa500,
    600 : #ff9d00,
    700 : #ff9300,
    800 : #ff8a00,
    900 : #ff7900,
    A100 : #ffffff,
    A200 : #fff8f2,
    A400 : #ffdabf,
    A700 : #ffcba6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$rob-app-primary: mat-palette($mat-rob-primary);
$rob-app-accent:  mat-palette($mat-rob-accent, A200, A100, A400);
$rob-app-warn:    mat-palette($mat-red);
$rob-app-theme: mat-light-theme($rob-app-primary, $rob-app-accent, $rob-app-warn);
@include angular-material-theme($rob-app-theme);
